---
layout: page
title: Introduction
---

{% capture about %}{% include index.md %}{% endcapture %}
{{ about  | markdownify }}

<div class="home">

  <h4 class="page-heading">Tables of Contents</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
